body{
    margin: 0px;
    z-index: 0;
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
}
#title{
  margin-left: 50px;
}
#exampleModal{
  z-index: 1;
}

html{
    min-height:100%;
    position:relative;
}

.map1{
  position: absolute;
    width: 80%;
    margin-left: 30%;
    height: 100%;
}
#myChart{
  z-index: 1;
  background-color: rgba(255,255,255,0.3);
  width: 100%;
  height: 100%;
}
#chart_div{
  display:  none;
}

.marker {
  background-image: url('img/tree1.png');
  background-size: cover;
  width: 50px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.Topbar{
  width: 100%;
  float: right;
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-right: 0px;
}

.Topbar button{
  float: right;
  margin: 10px;
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .map1{
      position: absolute;
      width: 100%;
      margin-left: 0px;;
      height: 100%;
  }
}

@media screen and (max-width: 1001px) {
  .Topbar button{
    float: right;
    margin: 10px;
    visibility: visible;
  }
}

header {
  margin-top: 0px;
  background-color: #04d92f;
  height: 55px;
  width: 100%;
  color: black;
}

.full-page{
  height: 100%;
}

.container {
  padding-top: 5px;
  padding-bottom: 5px;

  width:100%;
}

.header-div{
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

.left-menu{
  float: left;
  overflow-y: scroll;
  width: 30%;
  height: 100%;
  background-color: #c7c7c7;
}

.right-menu{
  float: left;
  margin-left: 30%;
  width: 80%;
  height: 100%;
}

.info-on-top{
  position: absolute;
  margin-top: 55px;
  top: 0;
  left: 0;
  margin-left: 60%;
  width: 40%;
  height:100%;
  background-color: red;
}



.card{
  width: 100%;
}

.coord{
  margin-left: 5px;
  width: 95%;
  margin-bottom: 10px;
}

.commanders{
  width: 80%;
}

dt{
  margin-bottom: 5px;
}

.cardhead{
  background-color: #c7c7c7;
}

.card{
  border: #c7c7c7;
}

.infoBox{
  position: absolute;
  margin: auto;
  visibility: hidden;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow-y: auto;
}

.itemfounding{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.infoBox .card{
  background-color: white;
  border-radius: 10px;
}

.card-header{
  border-radius: 10px;
}

.close{
  position: absolute;
  float: left;
  margin-top: 8px;
  margin-left: 6px;
  width: 50px;
  z-index: 2;
}

.center-radio{
  height: 20px;
}

.margin-children{
  margin-bottom: 20px;
}

.btn-full{
  width: 100%;
}

.col-12 p{
  background-color: white;
  vertical-align: center;
  border-radius: 20px;
  font-family: 'Raleway',sans-serif; font-size: 20px; font-weight: 800; line-height: 30px;
}

.tree {
  width: 50px;
  height: 100px;
}
.modal-body .container .row{
  margin-bottom: 20px;
}
